.OurServicesComponent {
    li {
        margin-left: 20px;
        padding-left: 100px;
        &:nth-of-type(2) .icon {
            left: -20px;
            top: 10px;
            width: 60px;
        }
        &:nth-of-type(3) .icon {
            left: -20px;
            top: 20px;
            width: 70px;
        }
        .icon {
            background: white;
            border-radius: 4px;
            box-shadow: 2px 2px 2px #d5d5d561;
            left: -30px;
            padding: 10px 8px 4px;
            position: absolute;
            top: 20px;
            width: 100px;
        }
    }
}
