.OurServicesComponent {
    margin-top: 20px;
    li {
        background: linear-gradient(to right, #efe7d3, #fdf6f1);
        color: #633473;
        font-size: 14px;
        font-weight: 400;
        margin-left: 20px;
        &:nth-of-type(2) .icon {
            left: -20px;
            top: 10px;
            width: 60px;
        }
        &:nth-of-type(2) .icon {
            float: right;
        }
        .icon {
            float: left;
            margin: 0 10px 10px 0;
            width: 100px;
        }
    }
}
