@tailwind utilities;

.TransactionsPage {
  .topMessage {
    position: relative;
    img {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 60px;
    }
    :global(.MuiAlert-message) {
      padding-right: 40px;
    }
  }
}

.TransactionListComponent {
  padding: 0;
  .TransactionComponent {
    .topSection {
      .time {
        display: flex;
        align-items: center;
        font-size: 12px;
        float: right;
        top: -36px;
        position: relative;
        svg {
          margin-right: 5px;
        }
      }
      .status {
        border-bottom: 1px solid #dddddd;
        color: #521a93;
        display: block;
        margin-bottom: 8px;
        padding-bottom: 6px;
        &.pending {
          color: #521a93;
        }
        &.success {
          color: green;
        }
      }
    }

    header {
      padding-left: 10px;
      &.pending {
        border-left: 2px #9e9eff solid;
      }
      &.success {
        border-left: 2px green solid;
      }
      .exp {
        color: #f79c01;
        font-weight: 600;
      }
      strong {
        display: block;
        padding-bottom: 10px;
      }
      :global(.Coins) {
        float: right;
        picture {
          transform: scale(0.8);
        }
        :global(.number) {
          color: rgb(229, 150, 29);
          font-size: 16px;
          margin-right: 4px;
          margin: 0 0 0 0px;
          text-shadow: 1px 1px 0px #888888;
        }
      }
      span {
        display: inline-block;
        font-weight: 600;
      }
    }

    footer {
      margin-top: 10px;
      text-align: right;
    }
  }
}
