.RankingComponent {
    .list {
        display: flex;
        flex-direction: column;
        width: 100%;
        .item {
            // background-color: #030c4b;
            background-color: #07244c;
            // border-bottom: 1px solid #2c2c2c;
            // border-radius: 10px;
            // border-top: 1px solid #2c2c2c;
            box-shadow: inset 0px 2px 2px 1px #1d1d1da1;
            box-sizing: border-box;
            color: white;
            column-gap: 10px;
            display: flex;
            height: 90px;
            margin: 0 auto 0px;
            padding: 10px 10px 14px 20px;
            position: relative;
            width: 100%;
            &:first-child {
                box-shadow: none;
                border-radius: 10px 10px 0 0;
                .points {
                    color: #32d4c2;
                    font-weight: 600;
                }
            }
            &:last-child {
                border-radius: 0 0 10px 10px;
            }
            .number {
                font-weight: 600;
                margin: 30px 10px 0 0;
                position: relative;
                .arrow {
                    color: #3095b3;
                    font-size: 18px;
                    left: 0px;
                    position: absolute;
                    top: -17px;
                    transform: rotate(90deg);
                    &.down {
                        color: red;
                        transform: rotate(270deg);
                    }
                }
            }
            .picture {
                &::before {
                    // animation: moveSprite 2s infinite;
                    // background-image: url(/images/sprites/red-fire.svg);
                    // background-position: -40px -30px;
                    // background-repeat: no-repeat;
                    // background-size: 520px;
                    // border: 1px solid red;
                    // content: "";
                    // display: block;
                    // height: 56px;
                    // left: 85px;
                    // position: absolute;
                    // top: 30px;
                    // width: 46px;
                    // z-index: 1;
                }
                picture {
                    height: 50px;
                    margin-top: 10px;
                    width: 50px;
                }
            }
            .name {
                // color: #aeaeb1;
                font-weight: bold;
                margin: 11px 0 0 10px;
                max-width: 120px;
                div {
                    // color: rgb(96, 96, 96);
                    font-weight: initial;
                    font-size: 13px;
                }
            }
            .points {
                position: absolute;
                right: 20px;
                top: 30px;
            }
        }
    }
}

// @keyframes moveSprite {
//     0% {
//         background-position: -40px -30px;
//     }
//     16% {
//         background-position: -95px -30px;
//     }
//     32% {
//         background-position: -152px -30px;
//     }
//     48% {
//         background-position: -208px -30px;
//     }
//     64% {
//         background-position: -208px -30px;
//     }
//     80% {
//         background-position: -264px -30px;
//     }
// }
