// @tailwind base;
// @tailwind components;
// @tailwind utilities;

section.RedimirPage {
    background-image: url(/images/backgrounds/general-bg.png);
    section {
        position: relative;
        overflow: hidden;
        .imgLights {
            left: -30px;
            opacity: 0.5;
            position: absolute;
            top: 0px;
            width: 210px;
        }
        .giftIcon {
            float: left;
            margin: 20px 50px 50px 0px;
            overflow: hidden;
            position: relative;
            width: 140px;
            z-index: 1;
        }
        h1 {
            margin: 20px 0 0;
        }
        p {
            margin: 6px 0 0;
            width: 180px;
        }
        &.products {
            display: flex;
            flex-wrap: wrap;
            > div {
                flex: 0 0 45%;
                .image_wrapper {
                    height: 180px;
                }
            }
        }
        &.headerInfo {
            column-gap: 20px;
            display: flex;
        }
    }
}
