// @tailwind base;
// @tailwind components;
// @tailwind utilities;

section.RedimirPage {
    background: #19596b;
    background-image: url(/images/backgrounds/general-bg.png);
    height: 100vh;
}
