.Ranking {
  .starIcon {
    top: 4px;
    color: #ffd800;
    position: relative;
  }
}

.menu {
  background: #17173a;
  border-radius: 30px 0px 0 30px;
  left: 0px;
  max-width: 420px;
  overflow-x: scroll;
  padding: 0 20px;
  position: relative;
  top: -30px;
  width: calc(100% + 20px);
  z-index: 1;
  // &::-webkit-scrollbar-thumb {
  //     // background: linear-gradient(45deg, #ff416c, #ff4b2b); /* Degradado facherito */
  //     background-color: #740e9f;
  //     border-radius: 5px;
  // }
  // &::-webkit-scrollbar {
  //     width: 2px; /* Para vertical */
  //     height: 2px; /* Para horizontal */
  // }
  // &::-webkit-scrollbar-track {
  //     background: #290d56ba; /* Fondo oscuro */
  //     border-radius: 5px;
  // }

  .aboutMe {
    margin: 10px 50px 0 0;
    padding-bottom: 6px;
    width: 500px;
    :global(.ButtonComponent) {
      // width: 200px;
      button {
        color: white;
        text-decoration: none;
        text-align: left;
        svg {
          margin-right: 6px;
        }
      }
    }
  }
}

.productsTitle {
  .list {
    display: flex;
  }
  svg {
    position: relative;
    top: -3px;
  }
}
